<div class="wrapper">
    <section class="banner" id="top">
      <h2 class="title">Search Away</h2>
      <nav class="main-nav">
        <ul>
          <li class="btn">
            <a href="/">HOME</a>
          </li>
          <li class="btn">
            <a href="/search">SEARCH</a>
          </li>
          <li class="btn">
            <a href="/userHistory">HISTORY</a>
          </li>
          <li class="btn">
            <a href="/account">ACCOUNT</a>
          </li>
        </ul>
      </nav>
</div>
