<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/banner.ejs') %>
        <div class="content">
            
            <h3> error 503</h3>
        </div>
        </br>
        <%- include('./partials/logout.ejs') %>
    </body>
</html>