<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/banner.ejs') %>
        <div class="content">
            <h1>Welcome <%= name %>  </h1> <br>
            <h3>Press the search button and start searching!</h3> <br> <br>
            <%- include('./partials/logout.ejs') %>
        </div>
        </br>
    </body>
</html>