<%- include('./partials/header.ejs') %>
<body>
  <div class="login-container">
    <div class="login-form-container">
      <h1 class="form-container-title">Login</h1>
      <% if (messages.error) { %> <%= messages.error %> <% } %> <% if
      (message.length) { %> <%= message %> <% } %>
      <form action="/login" method="POST">
        <div>
          <h3 class="input-title">Email</h3>
          <input
            class="the-input"
            type="email"
            id="email"
            name="email"
            required
          />
        </div>
        <div>
          <h3 class="input-title">Password</h3>
          <input
            class="the-input"
            type="password"
            id="password"
            name="password"
            required
          />
        </div>
        <button class="submit" type="submit">Login</button>
      </form>
      <button class="submit"><a href="/register">Register</a></button>
    </div>
  </div>
</body>
