<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="home-container">
      <h1>Error</h1>
      <br />
      <p>
        <b>Sorry, no data was found for that route.</b>
      </p>
    </div>
    <%- include('./partials/logout.ejs') %>
  </body>
</html>
